# June-July Batch: Using KNN to impute missing values in a dataset

<img src="1.jpg">

<img src="2.jpg">

#### 1. Load the data and libraries

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv("C:/Users/deepe/OneDrive/Desktop/INSAID/datasets/ablone data set/abalone-missing-values.csv")
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
Sex               4177 non-null object
Length            4177 non-null float64
Diameter          4177 non-null float64
Height            4177 non-null float64
Whole weight      4177 non-null float64
Shucked weight    4177 non-null float64
Viscera weight    4177 non-null float64
Shell weight      4139 non-null float64
Rings             4177 non-null int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [6]:
4177-data.count()

Sex                0
Length             0
Diameter           0
Height             0
Whole weight       0
Shucked weight     0
Viscera weight     0
Shell weight      38
Rings              0
dtype: int64

In [8]:
data.columns

Index(['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings'],
      dtype='object')

In [9]:
data = pd.get_dummies(data, columns=['Sex'], drop_first=True)

In [10]:
data.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_I,Sex_M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0,1
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0,1
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0,1
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,1,0

#### 2. Lets Seprate the Explanatory and Target Variables in X and Y

In [36]:
X = data.copy()

In [37]:
X.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_I,Sex_M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0,1
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0,1
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0,1
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,1,0

In [38]:
X2 = X[X.isnull().any(axis = 1)]

In [39]:
X2.count()

Length            38
Diameter          38
Height            38
Whole weight      38
Shucked weight    38
Viscera weight    38
Shell weight       0
Rings             38
Sex_I             38
Sex_M             38
dtype: int64

In [40]:
X1 = X[X['Shell weight'].notnull()]

In [41]:
X1.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_I,Sex_M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0,1
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0,1
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0,1
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,1,0

In [42]:
4139+38

4177

#### 3. Split the X set into X1 and X2. Where X2 is the set with the missing values

In [43]:
#y=data['target variable']
#data.drop

Y1 = X1.pop('Rings')
Y2 = X2.pop('Rings')

In [44]:
Y1.head()

0    15
1     7
2     9
3    10
4     7
Name: Rings, dtype: int64

In [45]:
Y2.head()

38     11
173     8
303     6
439    13
572    20
Name: Rings, dtype: int64

In [46]:
X1SW = X1.pop('Shell weight')
X2SW = X2.pop('Shell weight')

In [47]:
X1.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Sex_I,Sex_M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0,1
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0,1
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0,1
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,1,0

In [48]:
X2SW.head()

38    NaN
173   NaN
303   NaN
439   NaN
572   NaN
Name: Shell weight, dtype: float64

In [49]:
X1SW.head()

0    0.150
1    0.070
2    0.210
3    0.155
4    0.055
Name: Shell weight, dtype: float64

#### 4.  Scale the dataset

In [50]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X1)                                                                                  

X1s = sc.transform(X1)                                                             

print('After standardizing our features, the first 5 rows of our data now look like this:\n')   
print(pd.DataFrame(X1s, columns=X1.columns).head()) 

X2s = sc.transform(X2)  

X1s = pd.DataFrame(X1s, columns=X1.columns)
X2s = pd.DataFrame(X2s, columns=X2.columns)

After standardizing our features, the first 5 rows of our data now look like this:

     Length  Diameter    Height  Whole weight  Shucked weight  Viscera weight  \
0 -0.575623 -0.433462 -1.064625     -0.643300       -0.608952       -0.727490
1 -1.449676 -1.440817 -1.184061     -1.231503       -1.172316       -1.206587
2  0.048701  0.120583 -0.109135     -0.310971       -0.464731       -0.357901
3 -0.700488 -0.433462 -0.348007     -0.639223       -0.649514       -0.608857
4 -1.616163 -1.541552 -1.422934     -1.273299       -1.217385       -1.288718

      Sex_I     Sex_M
0 -0.687716  1.315375
1 -0.687716  1.315375
2 -0.687716 -0.760240
3 -0.687716  1.315375
4  1.454088 -0.760240

In [51]:
X2s.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Sex_I,Sex_M
0,0.423295,0.372422,-0.109135,0.109029,0.096379,0.207889,-0.687716,-0.760240
1,-0.034542,-0.030520,-0.586880,-0.109126,-0.178543,0.034502,-0.687716,-0.760240
2,-1.366433,-1.390449,-0.945189,-1.248833,-1.221892,-1.197461,-0.687716,1.315375
3,-0.201029,0.070215,0.607483,-0.287524,-0.498533,-0.389841,-0.687716,1.315375
4,0.548160,0.473157,0.368611,0.482135,0.100885,0.426905,-0.687716,-0.760240

#### 5. Use K=5 for imputing the missig values

In [55]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score

# Instantiate learning model (k = 5)
regressor = KNeighborsRegressor(n_neighbors=5)

# Fitting the model
regressor.fit(X1s, X1SW)

# Predicting the Test set results
X2SW_pred = regressor.predict(X2s)

In [56]:
X2SW_pred

array([0.2669, 0.2025, 0.0738, 0.2716, 0.3287, 0.0608, 0.0766, 0.2924,
       0.1732, 0.5429, 0.237 , 0.4213, 0.1693, 0.3521, 0.2791, 0.2935,
       0.158 , 0.093 , 0.1093, 0.0989, 0.0076, 0.3861, 0.1132, 0.2036,
       0.1555, 0.2236, 0.3501, 0.0626, 0.1587, 0.144 , 0.339 , 0.1501,
       0.0578, 0.1414, 0.1889, 0.2709, 0.4959, 0.131 ])

In [57]:
X1['Shell weight'] = X1SW
X2['Shell weight'] = X2SW_pred

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [59]:
X2.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Sex_I,Sex_M,Shell weight
38,0.575,0.445,0.135,0.8830,0.3810,0.2035,0,0,0.2669
173,0.520,0.405,0.115,0.7760,0.3200,0.1845,0,0,0.2025
303,0.360,0.270,0.100,0.2170,0.0885,0.0495,0,1,0.0738
439,0.500,0.415,0.165,0.6885,0.2490,0.1380,0,1,0.2716
572,0.590,0.455,0.155,1.0660,0.3820,0.2275,0,0,0.3287

In [60]:
X1['Rings'] = Y1
X2['Rings'] = Y2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [61]:
X2.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Sex_I,Sex_M,Shell weight,Rings
38,0.575,0.445,0.135,0.8830,0.3810,0.2035,0,0,0.2669,11
173,0.520,0.405,0.115,0.7760,0.3200,0.1845,0,0,0.2025,8
303,0.360,0.270,0.100,0.2170,0.0885,0.0495,0,1,0.0738,6
439,0.500,0.415,0.165,0.6885,0.2490,0.1380,0,1,0.2716,13
572,0.590,0.455,0.155,1.0660,0.3820,0.2275,0,0,0.3287,20

In [62]:
Xtreated = X1.append(X2)

In [65]:
Xtreated

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Sex_I,Sex_M,Shell weight,Rings
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0,1,0.1500,15
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0,1,0.0700,7
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0,0,0.2100,9
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0,1,0.1550,10
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,1,0,0.0550,7
...,...,...,...,...,...,...,...,...,...,...
3647,0.485,0.365,0.125,0.4260,0.1630,0.0965,1,0,0.1414,8
3757,0.520,0.410,0.140,0.6990,0.3395,0.1290,1,0,0.1889,10
3865,0.525,0.395,0.165,0.7820,0.2850,0.1405,0,1,0.2709,19
3960,0.690,0.550,0.195,1.7770,0.7690,0.3800,0,1,0.4959,11
4121,0.455,0.350,0.130,0.4725,0.2150,0.0745,1,0,0.1310,9

In [67]:
Xtreated.reindex(range(4177))

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Sex_I,Sex_M,Shell weight,Rings
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0,1,0.1500,15
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0,1,0.0700,7
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0,0,0.2100,9
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0,1,0.1550,10
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,1,0,0.0550,7
...,...,...,...,...,...,...,...,...,...,...
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0,0,0.2490,11
4173,0.590,0.440,0.135,0.9660,0.4390,0.2145,0,1,0.2605,10
4174,0.600,0.475,0.205,1.1760,0.5255,0.2875,0,1,0.3080,9
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0,0,0.2960,10
4176,0.710,0.555,0.195,1.9485,0.9455,0.3765,0,1,0.4950,12

#### 6. Fill in the missing values in the Xs table

#### 7. Use Support Vector Regression to Predict Y

In [68]:
y = Xtreated.pop('Rings')

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Xtreated, y, test_size=0.20, random_state=1)

In [71]:
#scaling
scaler = StandardScaler()
scaler.fit(X_train)                                                                                  

X_train_s = scaler.transform(X_train)                                                             
X_test_s = scaler.transform(X_test)  

X_train_s = pd.DataFrame(X_train_s, columns=X_train.columns)
X_test_s = pd.DataFrame(X_test_s, columns=X_test.columns)

In [72]:
from sklearn.svm import SVR 

reg = SVR(C=100, epsilon=2, kernel='rbf')
reg.fit(X_train_s, y_train)
Ypredict_test = reg.predict(X_test_s)

In [73]:
Ypredict_test

array([ 9.5631734 , 10.07541518, 13.50340411, 10.40183867, 12.34839409,
        9.87484239, 13.94602157, 10.83839174,  6.50091961,  8.43279066,
       11.89626026, 10.41597292, 11.79126712, 11.88146383,  7.29407797,
       11.19523935,  6.79732436,  2.8201328 , 10.85827004, 10.28480724,
       11.97430998, 10.14702454,  7.21564128, 10.49051528, 10.27198861,
        7.20052663, 13.23977548, 10.14434518, 10.98404778, 12.25548713,
       10.87201296,  9.10520965, 11.6407213 ,  8.00973813, 12.14370088,
       10.14111259, 13.84714294, 11.37830446, 10.26589357, 11.00375067,
        6.02173944,  9.01380924,  7.69096072, 11.24566264, 10.66902522,
       11.25763734,  8.94234175, 10.840112  ,  8.1168423 , 12.66736668,
       11.24278998, 11.4973016 , 15.94682522, 14.02038208,  7.94687449,
        8.5854886 ,  3.85064433,  8.35315865, 10.91473373,  7.03172014,
       12.08396699,  9.52376911, 12.14675068, 10.84815757, 13.16711634,
        9.86749274, 11.74510949,  9.76533395,  8.33818271,  8.96925786,
        9.77130725,  5.88792729,  7.36463812,  9.24886558, 10.26519753,
        6.99562457, 10.84092838, 13.24253211, 11.16896591,  9.92047116,
        4.79739671, 11.56361047,  9.53574996,  8.98118596, 10.34626248,
        8.22793552, 10.50823415, 10.3269406 ,  7.49501876, 10.0071266 ,
       12.69740561,  9.0692535 ,  8.63014088, 10.7247412 ,  7.3053809 ,
        4.28895804, 11.1975207 ,  9.91941376,  8.16005872, 10.56579579,
        7.3976067 , 10.38328977, 13.29307807, 13.41433605,  7.70406293,
       10.85937841,  8.52095946,  9.87802109, 11.00661207, 11.09292515,
       11.58039404, 11.73868775, 11.52757243,  8.89235439,  8.52400261,
       10.3134148 ,  9.78948996, 10.41085001,  9.39549007, 10.01998789,
       10.9408319 ,  7.82148111, 10.60488023, 11.20715048, 16.17810603,
        8.06132331, 10.94094377, 10.18209783,  6.52978245,  7.15580845,
        8.57641889, 13.82688609,  7.78278209, 11.15079821,  9.48144525,
        8.02730875, 11.80677332, 15.92787101, 11.37085942, 11.00042971,
        9.90729962,  6.97487651,  8.75759857, 10.41526129,  8.68729934,
       14.52650639, 11.1920059 ,  6.53825308, 12.63677278,  9.28546548,
       11.18348589,  6.42845806,  8.4839951 , 11.34180042, 15.83579495,
        7.9123276 , 12.85294966, 10.42868581, 10.47011969, 10.29227437,
       14.35682291,  7.32530842, 12.25781022,  7.99547387,  8.78366825,
       11.4596595 , 12.5900014 ,  9.57814395, 10.38799105, 10.014083  ,
        7.52756355, 13.76907202, 14.51463792, 11.51269572, 11.33012302,
       13.17442399,  9.87586279, 11.89485812,  7.00615358,  6.99793435,
       10.50145692, 13.81918666, 11.34453214, 10.41427016,  8.08284285,
       10.90680891,  6.58453199,  8.12410049, 12.00525176,  7.25949505,
        7.99378231,  8.78573583,  6.91873918,  8.21145847,  9.17099191,
       11.76515114, 10.98391916,  8.74079909, 16.53143966, 11.52130144,
       10.41715376, 10.85925387, 15.41451327,  9.31281835,  8.96703339,
        5.89359291, 12.01116638, 10.00898779, 11.59578845,  7.30827935,
        8.97428178,  8.18828787,  8.33517245,  8.27147674, 11.23567885,
       12.19131941,  8.6410545 , 11.070754  , 11.92807017,  7.37890167,
        7.19452479,  9.30789056,  8.49998636,  9.39371402, 10.84129444,
        5.2881415 , 12.62407681,  7.58801263,  9.91458136, 13.30333214,
       10.04089231,  7.39562562, 11.61199544,  7.13819911, 11.49864319,
        7.62518335, 11.3574456 , 14.48498329,  8.6638296 ,  9.14433419,
        5.97323793,  9.76347268,  9.64409658, 13.20951581,  6.87043295,
       11.59797895,  8.13701657, 10.99129   , 11.15764236,  8.68764925,
       12.83894894,  7.44571688,  8.31857425, 11.51280768,  7.0554163 ,
       12.57977902, 13.20992848, 13.10857544,  8.01505197, 11.06602849,
       11.28290525, 11.99905415,  9.43388073, 10.68276128,  7.36215642,
        7.87894911, 10.33555103, 10.88282162,  9.94872492,  7.88835423,
       11.62744848, 13.68252087,  6.98916785, 13.14199708,  7.94298938,
        9.88647947, 11.08893   , 10.28312858,  9.03286878,  7.75470211,
        8.7093947 , 11.01215652,  9.60848549, 10.27898916, 10.44713088,
        8.89538614,  6.71811764,  9.70401077, 10.78578611,  9.51437049,
       10.31621013, 13.71013674, 10.88483101, 10.46522769, 10.06628207,
       12.83673561,  9.10842738,  7.692379  , 11.78838359, 15.01579219,
        5.37786418, 11.44908766, 11.8967022 , 11.14577681, 16.52886493,
       11.05239361, 10.39551882,  8.43009939, 11.40929748,  8.25001622,
        7.64231275, 11.42538835,  9.13063473, 14.55471655,  7.60981646,
       11.40916693,  7.23609443,  8.49016914,  5.08014434, 11.56014814,
       11.50990607, 10.95488919, 13.44482943,  6.6127769 ,  7.60012009,
       11.61599895,  9.51799858, 11.97525235, 15.9636166 , 11.8964484 ,
       10.41729898,  8.76557397, 11.12111155, 11.29553179,  9.52266917,
       10.07575353, 11.06124152, 11.41383642,  6.5294809 , 10.65090463,
        8.35179688, 13.72276866, 11.61869854, 12.91089271,  8.94523077,
       12.10786903,  9.02514058, 14.59244392, 13.90145243, 12.50704243,
        7.87191559,  7.3503032 ,  7.47038792, 10.76070085,  7.21033778,
       10.11794079,  8.09455728,  7.36373018,  6.20762631,  8.8969023 ,
       10.36444231, 11.3981146 , 11.08725787, 12.91038879, 13.81974924,
        4.77254613,  7.58205852, 11.63402679,  5.07556243,  8.19512714,
       12.33159983,  5.79070847, 11.23355715,  8.33037063,  8.67924076,
       10.33257209,  9.67699252,  9.63291775, 11.80696902, 10.43244331,
       11.73638501,  6.94861025, 10.1980222 , 15.31091984, 12.937203  ,
       12.89873677,  9.32969287, 10.88604987,  8.99833987,  5.8969049 ,
       12.19658378, 10.81183524,  7.2599449 ,  8.02306956,  6.50461881,
       14.65290329,  5.60784816,  9.38449609, 11.24064922, 12.6759096 ,
       12.71876983,  7.79682093,  7.95271357, 12.40360746,  8.39061751,
        9.75703044,  9.60726063, 11.05464183,  5.41828958, 10.08317653,
       10.83965546, 10.89393685, 10.05589318,  8.30870608, 11.62672034,
        7.50422098,  9.4668284 ,  9.91562519,  9.76678668,  7.86033166,
        9.08444884, 10.64612461, 10.6692457 ,  7.2631067 , 10.43434732,
       11.42972297, 11.77542263,  6.22977588,  9.69454399,  6.97931735,
        9.19615053,  9.60920653,  9.54175682, 10.18954388,  7.68187463,
       11.95593993,  7.60515335, 10.08200947, 11.33887768, 10.35447566,
       12.3112997 , 15.14680896,  7.30051085, 16.3568641 ,  8.78079179,
        9.84369931, 10.50694002,  9.53650831, 10.84399189,  6.87992508,
       10.33601705,  7.75258644,  6.84125015,  9.94122514,  8.70411799,
       10.00197362, 10.14366374,  8.04720779, 10.84727672, 13.21892564,
       12.2833732 ,  6.9013702 ,  9.70575537, 12.0060944 ,  7.16069808,
       17.64039375, 10.05644914, 11.22336595, 15.44593911,  9.85008968,
       10.91392292, 10.2041773 ,  6.95449187,  6.61830636,  9.33127371,
       10.17519016, 10.0502773 , 11.25753455,  6.822909  , 12.50784283,
        6.95888071, 12.12812859, 13.73985365,  9.57838566,  7.85919289,
        8.17678074,  7.21149295, 10.21880001, 10.76411445, 13.78494272,
       10.88041364, 10.24916778, 13.50767362, 10.88004753, 10.02208403,
        7.20528779,  8.22537747,  6.97003544, 10.30665577, 10.040807  ,
        8.51398544,  6.80058507, 11.3942041 , 18.58628815, 10.61305464,
        8.72774138, 13.23832242, 10.47342196,  8.8575929 , 12.80082628,
        9.91965904,  9.09205775, 12.14954332, 11.5639658 ,  7.37834908,
        9.37185724,  9.36696721, 10.9181182 ,  8.70028712, 10.21957401,
       10.7015399 , 16.10980283, 11.34542015,  6.70284331,  8.79991758,
       12.27355908, 10.52694638,  9.34083108, 10.64181312, 11.95826828,
        9.70153852,  4.73933391, 10.31333189, 13.11405929,  9.81656934,
       10.36632952,  4.79563927, 11.83256985,  8.90465593,  7.04217189,
       10.91474812,  8.27984188,  9.96048508,  8.77882038,  8.61830014,
        8.06764738,  9.45730062, 10.22506214, 11.01563873,  9.92634084,
        8.86025943,  9.82180037,  8.82310214, 12.90649697,  9.48404357,
       11.66742195, 10.81659037,  9.42957198,  9.76741793,  9.89198854,
        7.13447064,  9.11625708, 11.16444496,  9.34795209, 11.65508463,
       10.43262079, 11.96396184, 10.7802208 ,  7.69960517,  8.56063449,
       12.06029727,  8.46030762, 12.31511923,  5.84178053, 11.11596368,
        6.11704728,  9.14773993,  8.64745726,  8.52206354,  7.99771329,
       14.21211069,  7.45539914,  9.73230212,  9.23073425, 12.59708392,
        8.13775942,  8.04124392,  8.14949248,  8.78847316, 14.10661106,
       10.03822838, 11.47483131,  7.95450703, 14.09095011, 10.19489128,
       11.85100195,  8.83578443, 10.11106973,  9.62489643, 12.74849464,
        8.61795883,  9.09527885,  9.22326729,  7.95596179,  7.30863549,
        7.83301493,  7.40923859,  9.16356297,  7.16250985, 10.77013204,
        9.20731161, 15.63621524,  7.14750347, 11.83459738,  7.96768334,
        8.64028033,  7.41783577,  9.13365857,  9.86632005, 10.12863473,
       10.22063171,  8.96716248,  6.73465298,  9.98796423, 10.84529359,
        8.61331904, 10.57130138,  5.90525655,  9.75338101, 14.08881601,
        5.77835888,  9.24916965,  6.92494665, 10.85285617,  9.33770123,
        6.96606918, 10.98117658,  8.4553205 ,  3.93510834, 12.15386565,
       10.88223607,  7.45950319, 13.12470915,  9.42937687,  8.56283328,
       12.72525956,  8.87450415, 11.09357319,  9.92351784,  9.23832238,
       12.95213789,  9.24609207,  9.61056021,  6.07215422, 12.65091742,
        9.00410037,  7.66474006, 13.01836861, 12.26982685,  8.14356544,
        9.95276959,  9.89674239, 12.6881337 , 10.49821351, 11.64482259,
       11.07661929, 13.69624517, 12.01540588, 11.83286289, 10.62338749,
       15.4633302 , 11.10145793,  9.65731745,  9.17783524,  9.39374833,
        8.74103389, 11.06635106,  9.61501886, 10.32990161,  9.78912087,
        9.98529915,  9.04425874, 12.06121479,  8.75117727, 11.00889989,
       10.84592116,  9.20573613, 13.99378324,  9.7221008 ,  6.57316853,
        7.81664826, 12.63549808, 10.1837534 , 12.97210054, 11.99276853,
        8.94615724,  9.21300285,  8.7013272 , 13.14445858,  7.14587405,
        9.21422403, 10.85425732,  8.60521551, 10.62792326, 11.89639138,
       12.10273464, 11.94730191,  8.73362041,  8.81621179, 14.05879103,
       13.44560469, 11.90614214,  9.33485672,  5.58451532, 11.48865371,
       10.20224215,  8.13105068, 15.11894838,  9.72521597, 11.55099972,
       16.2410022 ,  4.1197158 ,  8.79368812,  8.21400866, 12.29352485,
        7.0549383 , 13.3827744 ,  8.04065608, 12.72006071, 10.40816655,
       10.25251796, 12.46171771,  8.12490507,  9.79620059, 10.54258456,
        6.64124273, 12.28026554, 11.92203825, 14.0660018 ,  7.33175086,
       10.56921808, 14.07963681,  9.29689848,  8.93096866,  6.60690205,
       12.31197013,  6.66342698,  8.26072064, 10.01144464, 10.54323745,
       10.01431946,  9.6688662 , 10.13266593, 10.45741929, 12.10103481,
       10.99549138,  8.8318983 ,  5.73526572,  9.55631892,  7.86322349,
       11.40413007, 10.58075284,  8.45153014,  7.9807343 , 11.64758713,
        6.6212353 ,  8.58370009,  8.50994673,  9.08830527, 14.64634725,
        8.57807229,  7.5030864 ,  9.32384856, 12.50464542, 10.09803484,
       10.49839621,  7.20535724,  8.18712974,  9.14938561,  8.93824305,
        7.99313755,  9.51224056, 13.50479485, 10.93521594,  5.74803785,
        3.99159028, 10.68311946, 10.53100189, 18.19599659,  7.66368478,
        8.91827585, 10.43251458,  8.80505005, 12.24865093,  9.17647471,
       13.25927668,  8.46445305,  6.59140175,  8.16193909, 11.57393457,
        8.85654395,  9.78851001,  9.14864303, 14.02915859,  3.9923277 ,
        9.28856851,  9.43588252, 10.27078929, 10.87037529,  9.55423488,
        6.33234848, 10.12425433,  6.15446678,  7.75231013,  8.5601551 ,
        8.69453272,  8.46715462,  9.92132139,  7.20730536,  8.65255158,
       13.29931668, 11.59319976,  7.29822575,  6.49337596,  6.8789054 ,
       12.53620915, 11.47671094,  7.11801187,  9.78950491,  7.89871805,
        4.4924605 ,  9.9982881 , 12.48293626,  9.95631682, 13.92734132,
        6.20313199])

In [75]:
Ypredict_train = reg.predict(X_train_s)

In [76]:
from sklearn import metrics
RMSE_train = np.sqrt( metrics.mean_squared_error(y_train, Ypredict_train))
print('RMSE for training set is {}'.format(RMSE_train))

RMSE for training set is 1.975055214553268

In [77]:
RMSE_test = np.sqrt( metrics.mean_squared_error(y_test, Ypredict_test))
print('RMSE for testing set is {}'.format(RMSE_test))

RMSE for testing set is 2.104472087523163

In [79]:
X.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_I,Sex_M
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4139.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.239055,9.933684,0.321283,0.365813
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139333,3.224169,0.467025,0.481715
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000,0.000000,0.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000,0.000000,0.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.235000,9.000000,0.000000,0.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329500,11.000000,1.000000,1.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000,1.000000,1.000000

In [ ]:
#DT
#RF
#KNNreg